<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="postsForm" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        matInput
        type="text"
        formControlName="title"
        placeholder="Post title"
      />
      <mat-error *ngIf="postsForm.get('title').invalid">
        Field is required
      </mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">
        Pick Image
      </button>
      <input type="file" #filePicker (change)="onImageUpPicked($event)" />
    </div>
    <div
      class="image-preview"
      *ngIf="
        imagePreview !== '' && imagePreview && postsForm.get('image').invalid
      "
    >
      <img [src]="imagePreview" [alt]="postsForm.value.title" />
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="4"
        formControlName="content"
        placeholder="Post content"
      ></textarea>
      <mat-error *ngIf="postsForm.get('content').invalid">
        Field is required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      {{ submitBtn }}
    </button>
  </form>
</mat-card>
